<nav class="navbar navbar-light bg-body-secondary flex-column align-items-start p-3">
  <a class="navbar-brand mb-3" routerLink="/">
    <img src="/favicon.ico" alt="Logo" width="24" height="24" class="me-2">
    Noticias Zurrón CMS
  </a>

  <ul class="navbar-nav flex-column w-100">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/noticias/list">
        <i class="bi bi-list-stars me-2"></i> Lista de Noticias
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/noticias/add">
        <i class="bi bi-plus-square me-2"></i> Nueva Noticia
      </a>
    </li>
  </ul>

  <div class="mt-auto pt-3">
    <img src="/assets/images/aytoZurronDark2.png" alt="Ayto Zurrón" class="img-fluid p-2">
  </div>
</nav>
