:host {
  display: block;
  height: 100vh;
  position: sticky;
  top: 0;
}

.nav-link {
  border-radius: 8px;
  margin-bottom: 5px;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

img {
  max-width: 85%;
  height: auto;
}
